<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    <%= @mainTitle %>
                </h1>
                <small>
                    <%= @mainDesc %>
                </small>
                <p><%= link_to "Sign Up", new_user_registration_path, class: "button" %></p>
                <p><%= link_to "Log In", new_user_session_path %></p>
            </div>
        </div>
    </div>
</div>